
:root {
    --primary-font: Roboto; font-family: sans-serif;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
}

body
{
font-family: var(--primary-font)
/*reset*/
{
.link {
    text-decoration: none;
    }
}
background-color: #E5E5E5;
}
.page-header {
    background-color: #FFFFFF;
    
}
.first-screen {
    position: absolute;
    width: 1440;
    height: 600;
    left: 0;
    top: 72;
    background-color: #2E2F42;   
}
.team-section {
    background-color: #F4F4FD;
}
.page-footer {
    background-color: #2E2F42;
}